version: '3'

services:
  reservation:
    build: Service/
    depends_on:
      - 'reservation_db'
    ports:
      - '3002:3002'

  reservation_db:
    build: Database/
    ports:
      - '5432:5432'
